API_ORIGIN=http://127.0.0.1:4000
WEB_ORIGIN=http://127.0.0.1:3000
NEXT_PUBLIC_MAPTILER_KEY=
S3_UPLOAD_ORIGIN=http://127.0.0.1:4566
LOG_LEVEL=debug
OTEL_ENABLED=false
OTEL_EXPORTER_OTLP_ENDPOINT=http://127.0.0.1:4318
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_TRACES_SAMPLER=parentbased_traceidratio
OTEL_TRACES_SAMPLER_ARG=1
TRIPFORGE_VERSION=local
