.git
.gitignore

node_modules
**/node_modules
.next
**/.next
dist
**/dist
coverage
**/coverage
.turbo
**/.turbo
.terraform
**/.terraform
*.tfstate
*.tfstate.*
*.tfplan
*.tsbuildinfo

.env
.env.*
**/.env
**/.env.*
!**/.env.example

*.log
**/*.log
.DS_Store
e2e
performance/k6
scripts/readiness
playwright-report
test-results
readiness-results
.idea
.vscode
