.git
.gitignore

node_modules
**/node_modules
.next
**/.next
dist
**/dist
coverage
**/coverage
.turbo
**/.turbo
*.tsbuildinfo

.env
.env.*
**/.env
**/.env.*
!**/.env.example

*.log
**/*.log
.DS_Store
.idea
.vscode
